<h1>Se connecter</h1>
<% #affiche l'alert boostrap uniquement si un des flash existe %>
<% if flash.to_h.has_key?('flash') or flash.to_h.has_key?('danger') %>
  <div class="alert alert-danger" role="alert">
  <%= flash[:flash] %>
  <%= flash[:danger] %>
</div>
<% else end %>
<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
  <%= f.label :remember_me, class: "checkbox inline" do %>
  <%= f.check_box :remember_me %>
  <span>Remember me on this computer</span>
<% end %>
  <br>
  <%= f.submit "Log in", class: "btn btn-primary" %>
<% end %>
